# Auto detect text files and perform LF normalization
* text=auto

# Force LF for all text files
*.py text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.sql text eol=lf
*.sh text eol=lf
*.bat text eol=crlf
Dockerfile text eol=lf
.dockerignore text eol=lf
.env* text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf

# Binary files
*.pt binary
*.onnx binary
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.ico binary
*.mp4 binary
*.avi binary
*.mov binary
*.mp3 binary
*.wav binary
*.zip binary
*.rar binary
*.7z binary
*.tar binary
*.gz binary
